<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>23236893765-dfqp09sj876cm798iqh46gnq5ae4iih0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23236893765-dfqp09sj876cm798iqh46gnq5ae4iih0</string>
	<key>API_KEY</key>
	<string>AIzaSyA39iQhEkADPVn6oYbamf5Ax4de0ECLqaI</string>
	<key>GCM_SENDER_ID</key>
	<string>23236893765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KarolWojtulewicz.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-91fa3</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-91fa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23236893765:ios:e8fb93cc295c480a</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-91fa3.firebaseio.com</string>
</dict>
</plist>